<div class="row">
    <div class="col-md-9">

        <div class="blog-post-details">
            <div class="inner">
                <h1>{{postDetails.title}}</h1>
                <img ng-src="{{postDetails.image}}?no_cache={{postDetails.created_timestamp}}" class="img-responsive">

                <p>{{postDetails.description }}</p>
            </div>

            <hr>
            <post-details post="postDetails"></post-details>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>