<div class="row">
    <div class="col-md-9">

        <div class="blog-post-details">
            <div class="inner">
                <h1>{{postDetails.title}}</h1>
                <img ng-src="{{postDetails.image}}?no_cache={{postDetails.created_timestamp}}" class="img-responsive">

                <p>{{postDetails.description }}</p>
            </div>
            <div>
                <ul class="list-inline">
                    <li>
                        Autor: <a href="" ng-click="filterByAuthor($event, postDetails.creator)">{{postDetails.creator}}</a></li>
                    <li>Created: {{postDetails.created_timestamp | date}}</li>
                    <li>Categories:</li>
                    <li>
                        <ul class="list-inline">
                            <li ng-repeat="category in postDetails.categories.split(',')">
                                <a href="" ng-click="filterByCategory($event, category)">{{category}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <hr>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>