<div class="row">

    <div class="col-md-3 col-sm-12 col-md-push-9">
        <h3>Categories</h3>
        <ul>
            <li ng-repeat="categoriy in categories">
                <a href="" ng-click="filterByCategory($event, categoriy)">{{categoriy}}</a>
            </li>
        </ul>

        <h3>Authors</h3>
        <ul>
            <li ng-repeat="author in authors">
                <a href="" ng-click="filterByAuthor($event, author)">{{author}}</a>
            </li>
        </ul>
    </div>

    <div class="col-md-9 col-sm-12 col-md-pull-3">
        <p ng-show="filterCategory"><strong>Posts filtered by category "{{filterCategory}}":</strong></p>
        <p ng-show="filterAuthor"><strong>Posts filtered by author "{{filterAuthor}}":</strong></p>

        <div ng-repeat="post in blogPosts" class="blog-post">
            <div class="inner">
                <h2><a ng-href="#/detail/{{post.id}}">{{post.title}}</a></h2>
                <img ng-src="{{post.image}}?no_cache={{post.created_timestamp}}" class="img-responsive">

                <p>{{post.description | limitTo:500 }}...</p>
            </div>
            <ul class="list-inline">
                <li>
                    Autor: <a href="" ng-click="filterByAuthor($event, post.creator)">{{post.creator}}</a></li>
                <li>Created: {{post.created_timestamp | date}}</li>
                <li>Categories:</li>
                <li>
                    <ul class="list-inline">
                        <li ng-repeat="category in post.categories.split(',')">
                            <a href="" ng-click="filterByCategory($event, category)">{{category}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <hr>
        </div>
    </div>

</div>
